[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "reboot"]
	path = reboot
	url = https://github.com/puppetlabs/puppetlabs-reboot.git
[submodule "puppet-timezone"]
	path = timezone
	url = https://github.com/saz/puppet-timezone.git
[submodule "debconf"]
	path = debconf
	url = https://github.com/smoeding/puppet-debconf.git
