# Managed by puppet

# Remove any existing rules
-D

# Buffer Size
# Feel free to increase this if the machine panic's
-b 8192

# Failure Mode
# Possible values are 0 (silent), 1 (printk, print a failure message) and 2 (panic, halt the system).
-f 1

# Ignore errors
# e.g. caused by users or files not found in the local environment
-i

# Make login UID immutable once it is set
--loginuid-immutable 1

# Audit the audit logs.
# Successful and unsuccessful attempts to read information from the audit records; all modifications to the audit trail
-w /var/log/audit -F auid!=unset -k audit_log

# Auditd configuration modifications to audit configuration that occur while the audit collection functions are operating
-w /etc/audit -p wa -k audit_config
-w /etc/libaudit.conf -p wa -k audit_config

# Monitor for use of audit management tools
-w /sbin/auditctl -p x -k audit_tools
-w /sbin/auditd -p x -k audit_tools

# Kernel parameters
-w /usr/sbin/sysctl -p x -k sysctl
-w /etc/sysctl.conf -p wa -k sysctl
-w /etc/sysctl.d -p wa -k sysctl

# Kernel modules
-a always,exit -F arch=b32 -S init_module -S delete_module -k modules
-a always,exit -F arch=b64 -S init_module -S delete_module -k modules
-w /usr/sbin/insmod -p x -k modules
-w /usr/sbin/rmmod -p x -k modules
-w /usr/sbin/modprobe -p x -k modules

# Modprobe configuration
-w /etc/modprobe.conf -p wa -k modprobe
-w /etc/modprobe.d -p wa -k modprobe

# Special files
-a exit,always -F arch=b32 -S mknod -S mknodat -F auid!=unset -k special_files
-a exit,always -F arch=b64 -S mknod -S mknodat -F auid!=unset -k special_files

# Mount operations
-a exit,always -F arch=b32 -S mount -S umount -S umount2 -F auid!=unset -k mount
-a exit,always -F arch=b64 -S mount -S umount2 -F auid!=unset -k mount

# Changes to the time
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -k time
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -k time
-w /etc/localtime -p wa -k time
-w /etc/timezone -p wa -k time

# Changes to hostname
-a always,exit -F arch=b32 -S sethostname -S setdomainname -k hostname
-a always,exit -F arch=b64 -S sethostname -S setdomainname -k hostname
-w /etc/hostname -p wa -k hostname

# Network configuration
-w /etc/hosts -p wa -k hosts
-w /etc/network -p wa -k network
-w /etc/networkd-dispatcher -p wa -k network
<% if @network_interface == 'netplan' -%>
-w /etc/netplan -p wa -k network
<% end -%>

# System startup scripts
-w /etc/init -p wa -k init

# Library search paths
-w /etc/ld.so.conf -p wa -k lib_path
-w /etc/ld.so.conf.d -p wa -k lib_path

# Changes to issue
-w /etc/issue -p wa -k issue
-w /etc/issue.net -p wa -k issue

# Monitor modifation on a user/group 
-w /etc/group -p wa -k identity
-w /etc/passwd -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity

# Login configuration and information
-w /etc/login.defs -p wa -k login
-w /var/log/faillog -p wa -k login
-w /var/log/lastlog -p wa -k login
-w /var/log/auth.log -p wa -k login

# SSH configuration
-w /etc/ssh/sshd_config -F comm!=puppet -k sshd
-w /etc/ssh/sshd_config.d -F comm!=puppet -k sshd

# PAM configuration
-w /etc/pam.d -p wa -k pam
-w /etc/security/limits.conf -p wa  -k pam
-w /etc/security/pam_env.conf -p wa -k pam
-w /etc/security/namespace.conf -p wa -k pam
-w /etc/security/namespace.init -p wa -k pam

# Monitor for use of process ID change (switching accounts) applications
-w /bin/su -p x -k priv_esc
-w /usr/bin/sudo -p x -k priv_esc
-w /etc/sudoers -F comm!=puppet -k priv_esc
-w /etc/sudoers.d -F comm!=puppet -k priv_esc

# Systemd configuration
-w /etc/systemd -p wa -k systemd

# Log all commands executed by an effective id of 0 aka root
-a exit,always -F arch=b64 -F euid=0 -S execve -F auid!=unset -k root_cmd
-a exit,always -F arch=b32 -F euid=0 -S execve -F auid!=unset -k root_cmd

# Capture all failures to access on critical elements
-a exit,always -F arch=b32 -S open -F dir=/etc -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/etc -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b32 -S open -F dir=/bin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/bin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b32 -S open -F dir=/sbin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/sbin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b32 -S open -F dir=/usr/bin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/usr/bin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b32 -S open -F dir=/usr/sbin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/usr/sbin -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b32 -S open -F dir=/var -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/var -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b32 -S open -F dir=/home -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/home -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b32 -S open -F dir=/srv -F success=0 -k unauthed_file_acess
-a exit,always -F arch=b64 -S open -F dir=/srv -F success=0 -k unauthed_file_acess

# Cron configuration and scheduled jobs
-w /etc/cron.allow -p wa -k cron
-w /etc/cron.deny -p wa -k cron
-w /etc/cron.d -p wa -k cron
-w /etc/cron.daily -p wa -k cron
-w /etc/cron.hourly -p wa -k cron
-w /etc/cron.monthly -p wa -k cron
-w /etc/cron.weekly -p wa -k cron
-w /etc/crontab -p wa -k cron
-w /var/spool/cron/crontabs -k cron

# Puppet SSL
-w /etc/puppet/ssl -p wa -k puppet_ssl
<% if @puppet_server -%>

# Puppet code
-w /etc/puppet/code -p wa -k puppet_code
<% end -%>

# Monitor usage of commands to change power state
-w /usr/sbin/shutdown -p x -k power
-w /usr/sbin/poweroff -p x -k power
-w /usr/sbin/reboot -p x -k power
-w /usr/sbin/halt -p x -k power

# Make the configuration immutable
-e 2