# Managed by puppet

# This rule will detect any use of the 32 bit syscalls because this might be a sign of someone exploiting a hole in the 32bit ABI.
-a always,exit -F arch=b32 -S all -F key=32bit-abi

# Audit the audit logs.
# Successful and unsuccessful attempts to read information from the audit records; all modifications to the audit trail
-a always,exit -F arch=b32 -F path=/var/log/audit -F auid!=unset -F key=audit_log
-a always,exit -F arch=b64 -F path=/var/log/audit -F auid!=unset -F key=audit_log

# Auditd configuration modifications to audit configuration that occur while the audit collection functions are operating
-a always,exit -F arch=b32 -F path=/etc/audit -F perm=wa -F key=audit_config
-a always,exit -F arch=b64 -F path=/etc/audit -F perm=wa -F key=audit_config
-a always,exit -F arch=b32 -F path=/etc/libaudit.conf -F perm=wa -F key=audit_config
-a always,exit -F arch=b64 -F path=/etc/libaudit.conf -F perm=wa -F key=audit_config

# Monitor for use of audit management tools
-a always,exit -F arch=b32 -F path=/usr/bin/aulast -F perm=x -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/bin/aulast -F perm=x -F key=audit_tools
-a always,exit -F arch=b32 -F path=/usr/bin/auvirt -F perm=x -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/bin/auvirt -F perm=x -F key=audit_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/auditctl -F perm=x -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/auditctl -F perm=x -F key=audit_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/auditd -F perm=x -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/auditd -F perm=x -F key=audit_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/augenrules -F perm=x -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/augenrules -F perm=x -F key=audit_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/aulastlog -F perm=x -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/aulastlog -F perm=x -F key=audit_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/aureport -F perm=x -F auid!=unset -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/aureport -F perm=x -F auid!=unset -F key=audit_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/ausearch -F perm=x -F key=audit_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/ausearch -F perm=x -F key=audit_tools

# Kernel parameters
-a always,exit -F arch=b32 -F path=/usr/sbin/sysctl -F perm=x -F key=sysctl
-a always,exit -F arch=b64 -F path=/usr/sbin/sysctl -F perm=x -F key=sysctl
-a always,exit -F arch=b32 -F path=/etc/sysctl.conf -F perm=wa -F key=sysctl
-a always,exit -F arch=b64 -F path=/etc/sysctl.conf -F perm=wa -F key=sysctl
-a always,exit -F arch=b32 -F path=/etc/sysctl.d -F perm=wa -F key=sysctl
-a always,exit -F arch=b64 -F path=/etc/sysctl.d -F perm=wa -F key=sysctl

# Kernel modules
-a always,exit -F arch=b32 -S init_module -S delete_module -F key=modules
-a always,exit -F arch=b64 -S init_module -S delete_module -F key=modules
-a always,exit -F arch=b32 -F path=/usr/sbin/insmod -F perm=x -F key=modules
-a always,exit -F arch=b64 -F path=/usr/sbin/insmod -F perm=x -F key=modules
-a always,exit -F arch=b32 -F path=/usr/sbin/rmmod -F perm=x -F key=modules
-a always,exit -F arch=b64 -F path=/usr/sbin/rmmod -F perm=x -F key=modules
-a always,exit -F arch=b32 -F path=/usr/sbin/modprobe -F perm=x -F key=modules
-a always,exit -F arch=b64 -F path=/usr/sbin/modprobe -F perm=x -F key=modules

# Modprobe configuration
-a always,exit -F arch=b32 -F path=/etc/modprobe.conf -F perm=wa -F key=modprobe
-a always,exit -F arch=b64 -F path=/etc/modprobe.conf -F perm=wa -F key=modprobe
-a always,exit -F arch=b32 -F path=/etc/modprobe.d -F perm=wa -F key=modprobe
-a always,exit -F arch=b64 -F path=/etc/modprobe.d -F perm=wa -F key=modprobe

# Special files
-a always,exit -F arch=b32 -S mknod -S mknodat -F auid!=unset -F key=special_files
-a always,exit -F arch=b64 -S mknod -S mknodat -F auid!=unset -F key=special_files

# Mount operations
-a always,exit -F arch=b32 -S mount -S umount -S umount2 -F auid!=unset -F key=mount
-a always,exit -F arch=b64 -S mount -S umount2 -F auid!=unset -F key=mount

# Changes to the time
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -F key=time
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -F key=time
-a always,exit -F arch=b32 -F path=/etc/localtime -F perm=wa -F key=time
-a always,exit -F arch=b64 -F path=/etc/localtime -F perm=wa -F key=time
-a always,exit -F arch=b32 -F path=/etc/timezone -F perm=wa -F key=time
-a always,exit -F arch=b64 -F path=/etc/timezone -F perm=wa -F key=time

# Changes to hostname
-a always,exit -F arch=b32 -S sethostname -S setdomainname -F key=hostname
-a always,exit -F arch=b64 -S sethostname -S setdomainname -F key=hostname
-a always,exit -F arch=b32 -F path=/etc/hostname -F perm=wa -F key=hostname
-a always,exit -F arch=b64 -F path=/etc/hostname -F perm=wa -F key=hostname

# Network configuration
-a always,exit -F arch=b32 -F path=/etc/hosts -F perm=wa -F key=hosts
-a always,exit -F arch=b64 -F path=/etc/hosts -F perm=wa -F key=hosts
-a always,exit -F arch=b32 -F path=/etc/network -F perm=wa -F key=network
-a always,exit -F arch=b64 -F path=/etc/network -F perm=wa -F key=network

# System startup scripts
-a always,exit -F arch=b32 -F path=/etc/init -F perm=wa -F key=init
-a always,exit -F arch=b64 -F path=/etc/init -F perm=wa -F key=init

# Library search paths
-a always,exit -F arch=b32 -F path=/etc/ld.so.conf -F perm=wa -F key=lib_path
-a always,exit -F arch=b64 -F path=/etc/ld.so.conf -F perm=wa -F key=lib_path
-a always,exit -F arch=b32 -F path=/etc/ld.so.conf.d -F perm=wa -F key=lib_path
-a always,exit -F arch=b64 -F path=/etc/ld.so.conf.d -F perm=wa -F key=lib_path

## Systemwide library preloads (LD_PRELOAD)
-a always,exit -F arch=b32 -F path=/etc/ld.so.preload -F perm=wa -F key=system_wide_preloads
-a always,exit -F arch=b64 -F path=/etc/ld.so.preload -F perm=wa -F key=system_wide_preloads

# Changes to issue
-a always,exit -F arch=b32 -F path=/etc/issue -F perm=wa -F key=issue
-a always,exit -F arch=b64 -F path=/etc/issue -F perm=wa -F key=issue
-a always,exit -F arch=b32 -F path=/etc/issue.net -F perm=wa -F key=issue
-a always,exit -F arch=b64 -F path=/etc/issue.net -F perm=wa -F key=issue

# Apparmor configuration
-a always,exit -F arch=b32 -F path=/etc/apparmor -F perm=wa -F key=apparmor_config
-a always,exit -F arch=b64 -F path=/etc/apparmor -F perm=wa -F key=apparmor_config
-a always,exit -F arch=b32 -F path=/etc/apparmor.d -F perm=wa -F key=apparmor_config
-a always,exit -F arch=b64 -F path=/etc/apparmor.d -F perm=wa -F key=apparmor_config

# Apparmor tools
-a always,exit -F arch=b32 -F path=/usr/sbin/aa-complain -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/aa-complain -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/aa-enforce -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/aa-enforce -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/aa-remove-unknown -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/aa-remove-unknown -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/aa-status -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/aa-status -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b32 -F path=/usr/sbin/apparmor_parser -F perm=x -F auid!=unset -F key=apparmor_tools
-a always,exit -F arch=b64 -F path=/usr/sbin/apparmor_parser -F perm=x -F auid!=unset -F key=apparmor_tools
<% if @systemd_enable -%>

# Systemd configuration
-a always,exit -F arch=b32 -F path=/bin/systemctl -F perm=x -F auid!=unset -F key=systemd
-a always,exit -F arch=b64 -F path=/bin/systemctl -F perm=x -F auid!=unset -F key=systemd
-a always,exit -F arch=b32 -F path=/etc/systemd -F perm=wa -F key=systemd
-a always,exit -F arch=b64 -F path=/etc/systemd -F perm=wa -F key=systemd
-a always,exit -F arch=b32 -F path=/usr/lib/systemd -F perm=wa -F key=systemd
-a always,exit -F arch=b64 -F path=/usr/lib/systemd -F perm=wa -F key=systemd

# Detect journalctl use
-a always,exit -F arch=b32 -F path=/bin/journalctl -F perm=x -F auid!=unset -F key=journalctl
-a always,exit -F arch=b64 -F path=/bin/journalctl -F perm=x -F auid!=unset -F key=journalctl
<% end -%>

# Monitor modifation on a user/group 
-a always,exit -F arch=b32 -F path=/etc/group -F perm=wa -F key=identity
-a always,exit -F arch=b64 -F path=/etc/group -F perm=wa -F key=identity
-a always,exit -F arch=b32 -F path=/etc/passwd -F perm=wa -F key=identity
-a always,exit -F arch=b64 -F path=/etc/passwd -F perm=wa -F key=identity
-a always,exit -F arch=b32 -F path=/etc/gshadow -F perm=wa -F key=identity
-a always,exit -F arch=b64 -F path=/etc/gshadow -F perm=wa -F key=identity
-a always,exit -F arch=b32 -F path=/etc/shadow -F perm=wa -F key=identity
-a always,exit -F arch=b64 -F path=/etc/shadow -F perm=wa -F key=identity
-a always,exit -F arch=b32 -F path=/etc/security/opasswd -F perm=wa -F key=identity
-a always,exit -F arch=b64 -F path=/etc/security/opasswd -F perm=wa -F key=identity

# Login configuration and information
-a always,exit -F arch=b32 -F path=/etc/login.defs -F perm=wa -F key=login
-a always,exit -F arch=b64 -F path=/etc/login.defs -F perm=wa -F key=login
-a always,exit -F arch=b32 -F path=/var/log/faillog -F perm=wa -F key=login
-a always,exit -F arch=b64 -F path=/var/log/faillog -F perm=wa -F key=login
-a always,exit -F arch=b32 -F path=/var/log/lastlog -F perm=wa -F key=login
-a always,exit -F arch=b64 -F path=/var/log/lastlog -F perm=wa -F key=login
-a always,exit -F arch=b32 -F path=/var/log/auth.log -F perm=wa -F key=login
-a always,exit -F arch=b64 -F path=/var/log/auth.log -F perm=wa -F key=login

# Shell/profile configurations
-a always,exit -F arch=b32 -F path=/etc/profile.d -F perm=wa -F key=shell_profiles
-a always,exit -F arch=b64 -F path=/etc/profile.d -F perm=wa -F key=shell_profiles
-a always,exit -F arch=b32 -F path=/etc/profile -F perm=wa -F key=shell_profiles
-a always,exit -F arch=b64 -F path=/etc/profile -F perm=wa -F key=shell_profiles
-a always,exit -F arch=b32 -F path=/etc/shells -F perm=wa -F key=shell_profiles
-a always,exit -F arch=b64 -F path=/etc/shells -F perm=wa -F key=shell_profiles

# Detect remote shell use
-a always,exit -F arch=b32 -F exe=/bin/bash -F success=1 -S connect -F key=remote_shell
-a always,exit -F arch=b64 -F exe=/bin/bash -F success=1 -S connect -F key=remote_shell
-a always,exit -F arch=b32 -F exe=/usr/bin/bash -F success=1 -S connect -F key=remote_shell
-a always,exit -F arch=b64 -F exe=/usr/bin/bash -F success=1 -S connect -F key=remote_shell

# Log all commands executed by an effective id of 0 aka root
-a always,exit -F arch=b32 -F euid=0 -S execve -F auid!=unset -F key=root_cmd
-a always,exit -F arch=b64 -F euid=0 -S execve -F auid!=unset -F key=root_cmd

# Capture all failures to access on critical elements
-a always,exit -F arch=b32 -S open -F dir=/etc -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/etc -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b32 -S open -F dir=/bin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/bin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b32 -S open -F dir=/sbin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/sbin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b32 -S open -F dir=/usr/bin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/usr/bin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b32 -S open -F dir=/usr/sbin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/usr/sbin -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b32 -S open -F dir=/var -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/var -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b32 -S open -F dir=/home -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/home -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b32 -S open -F dir=/srv -F success=0 -F key=unauthed_file_acess
-a always,exit -F arch=b64 -S open -F dir=/srv -F success=0 -F key=unauthed_file_acess

# Cron configuration and scheduled jobs
-a always,exit -F arch=b32 -F path=/etc/cron.allow -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/cron.allow -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/etc/cron.deny -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/cron.deny -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/etc/cron.d -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/cron.d -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/etc/cron.daily -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/cron.daily -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/etc/cron.hourly -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/cron.hourly -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/etc/cron.monthly -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/cron.monthly -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/etc/cron.weekly -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/cron.weekly -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/etc/crontab -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/etc/crontab -F perm=wa -F key=cron
-a always,exit -F arch=b32 -F path=/var/spool/cron/crontabs -F perm=wa -F key=cron
-a always,exit -F arch=b64 -F path=/var/spool/cron/crontabs -F perm=wa -F key=cron

# Monitor usage of commands to change power state
-a always,exit -F arch=b32 -F path=/usr/sbin/shutdown -F perm=x -F key=power
-a always,exit -F arch=b64 -F path=/usr/sbin/shutdown -F perm=x -F key=power
-a always,exit -F arch=b32 -F path=/usr/sbin/poweroff -F perm=x -F key=power
-a always,exit -F arch=b64 -F path=/usr/sbin/poweroff -F perm=x -F key=power
-a always,exit -F arch=b32 -F path=/usr/sbin/reboot -F perm=x -F key=power
-a always,exit -F arch=b64 -F path=/usr/sbin/reboot -F perm=x -F key=power
-a always,exit -F arch=b32 -F path=/usr/sbin/halt -F perm=x -F key=power
-a always,exit -F arch=b64 -F path=/usr/sbin/halt -F perm=x -F key=power
